<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../style.css" />
  <title>E-commerce App</title>
</head>
<body>
  <div className="container">
    <h1>Modifica Prodotto: <%= product.name %></h1>

    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" value="<%= product.name %>" required>

      <label for="price">Prezzo:</label>
      <input type="number" id="price" name="price" value="<%= product.price %>" required>

      <label for="description">Descrizione:</label>
      <textarea id="description" name="description" required><%= product.description %></textarea>

      <button type="submit">Salva le modifiche</button>
    </form>

    <a href="/products" className="button">Lista di tutti i prodotti</a>
    <a href="/" className="button">Torna alla Homepage</a>
  </div>

  <footer>
    &copy; 2025 Ecommerce App. Tutti i diritti riservati.
  </footer>
</body>
</html>